body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  padding: 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: aquamarine;
  /* background-image: url("your-background-image.jpg"); */
}

.personal-info,
.feedback-form {
  width: 45%;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin: 0;
}

h1 {
  text-align: center;
  color: #333;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
}

.input-group {
  margin-bottom: 15px;
}

table {
  width: 100%;
}

td {
  padding: 10px;
}

label {
  font-weight: bold;
  display: block;
}

input,
select,
textarea {
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.contact {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .personal-info,
  .feedback-form {
    width: 90%;
  }
}
